<!DOCTYPE html>
<html lang="en">
<head>
    <!--Inf meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="html, css, js, javascript, codo a codo">

    <!-- Título-->
    <title> Admin │ Funkoshop </title>
    
    <!-- Ícono -->
    <link rel="icon" href="../Assets/Img/branding/isotype.svg">    

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <!-- CSS -->        
    <link rel="stylesheet" href="/Css/admin.css">
    <link rel="stylesheet" href="/Css/index.css">
</head>


<body>

    <!-- Encabezado -->
    <%- include ('partials/headerAdmin') %>
    <!-- Fin del Encabezado -->


    <!-- Contenido -->
    <main class="container my-5">

      <div class="my-4 d-flex flex-row">
        <figure class="p-2">
          <img src="../Assets/Img/icons/search_icon.svg" alt="Buscar" width="42px">
        </figure>
        <div class="p-2">
          <input type="text" id="search" placeholder="Código, nombre o categoria">
        </div>
      </div>

      <div class="container">

        <div class="row container_title">
          <div class="col-9">
            <h1 class="titulo">LISTADO DE PRODUCTOS</h1>
          </div>
          <div class="col d-flex align-items-center btn__add">
            <h3 class="m-0">AGREGAR</h3>
            <a href="/admin/create">
              <img src="../Assets/Img/icons/mdi_plus.svg" width="52px" alt="+">
            </a>
          </div>
        </div>
        
        <!-- Tabla opción 2 -->
        <div class="container_tabla table-responsive my-4">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Licencia</th>
                <th>Nombre del Producto</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tbody>
                <% products.forEach(product => { %>
                <tr>
                  <td><%= product.product_id %></td>
                  <td><%= product.product_sku %></td>
                  <td><%= product.licence_name %></td>
                  <td><%= product.product_name %></td>
                  <td><a href="/admin/edit/<%= product.product_id %>"><img src="/Assets/Img/icons/edit_pencil.svg" alt="Editar"></a></td>
                  <td><a href="/admin/delete/<%= product.product_id %>"><img src="/Assets/Img/icons/delete_trash.svg" alt="Eliminar"></a></td>
                </tr>
                <% }); %>
              </tbody>
            </tbody>
          </table>
        </div>
      </div>
        
    </main>
    <!-- Fin del Contenido -->

    <!-- Pie de página -->
    <%- include ('partials/footerAdmin') %>
    <!-- Fin de pie de página -->
</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
<!----->

</html>