<section class="slider container glide">
    <h2 class="slider__title">Últimos lanzamientos</h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <% products.forEach(product => { %>
                <li class="slider__item glide__slide">
                  <article class="card-item">
                    <a class="card-item__link" href="/shop/item/<%= product.product_id %>">
                      <picture class="card-item__cover">
                        <span class="card-item__tag">Nuevo</span>
                        <img class="card-item__img--front" src="<%= product.img_front %>" alt="Figura coleccionable de <%= product.product_name %> de <%= product.licence_name %>">
                        <img class="card-item__img--back" src="<%= product.img_back %>" alt="Figura coleccionable de <%= product.product_name %> de <%= product.licence_name %>, en caja">
                      </picture>
                      <div class="card-item__content">
                        <p class="card-item__license"><%= product.licence_name %></p>
                        <h4 class="card-item__name"><%= product.product_name %></h4>
                        <p class="card-item__price">$<%= product.product_price %></p>
                        <p class="card-item__promo"><%= product.dues %> cuotas sin interés</p>
                      </div>
                    </a>
                  </article>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:round-chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="ic:round-chevron-right"></iconify-icon></button>
    </div>
</section>
                